<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST"  style="width: 40vw;">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" style="padding:10px;">

    <label for="title"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10" style="padding:10px;"></textarea>

    <input type="submit" value="Add" class="btn">

</form>